<?php

class Config{
	public static $BASE_LOCATION = '/wuersch/';
	public static $ERROR_LOCATION = 'site/error';

	public static $PDO_HOST = 'localhost';
	public static $PDO_DATABASE = 'wuersch';
	public static $PDO_USER = '';
	public static $PDO_PASSWORD = '';
	public static $PDO_CHARSET = 'utf8';

	public static $FACEBOOK_APP_ID = '';
	public static $FACEBOOK_APP_SECRET = '';
}

?>
