<?php

class Config{

	const LOG_FILE = '/var/log/wuersch.log';
	const LOG_DATE_FORMAT = 'd-m-Y H:i:s';
	const LOG_ERROR = true;
	const LOG_WARNING = true;
	const LOG_INFO = true;
	const LOG_DEBUG = true;

	const PDO_HOST = 'localhost';
	const PDO_DATABASE = 'wuersch';
	const PDO_USER = 'root';
	const PDO_PASSWORD = '';
	const PDO_CHARSET = 'utf8';

	const BASE_LOCATION = '/wuersch/';
	const USER_PICTURES = '/tmp/assets/pictures/';

	const FACEBOOK_APP_ID = '';
	const FACEBOOK_APP_SECRET = '';
	const FACEBOOK_APP_REDIRECT_URL = '';
	const FACEBOOK_APP_SCOPES = '';

	const AUTH_TIME_THRESHOLD = 5;
}

?>
